/.DS_Store
/demo1.mov
/demo1.mp4
/interactive_itinerary_map before POI panel.html
/interactive_itinerary_map copia 2.html
/interactive_itinerary_map copia 3.html
/interactive_itinerary_map copia 4.html
/interactive_itinerary_map copia 5 - OK before refactoring.html
/interactive_itinerary_map copia 5.html
/interactive_itinerary_map copia 6.html
/interactive_itinerary_map copia.html